<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="/">Recipes Book</a>
    <ul class="nav">
      <li class="nav-item"
          routerLinkActive="active">
        <a
          class="nav-link"
          routerLink="/recipes">
          Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"
          routerLinkActive="active">
        <a
          class="nav-link"
          routerLink="/shopping-list">
          Shopping List</a>
      </li>
    </ul>
    <ul class="nav">
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item"
            routerLinkActive="active">
          <a
            class="nav-link"
            routerLink="/signup">
            Register</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a
            class="nav-link"
            routerLink="/signin">
            Sign-In
          </a>
        </li>
      </ng-template>
      <ng-template [ngIf]="authService.isAuthenticated()">

        <li class="nav-item"
                  routerLinkActive="active"
          (click)="onLogout()">
          <a
            class="nav-link">
            Logout
          </a>
        </li>
        <li
        class="nav-item dropdown"
          appDirective
        >
          <a class="nav-link dropdown-toggle"
             id="navbarDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             routerLinkActive="active">
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="onPUTRecipes()">Save Recipes</a>
            <a class="dropdown-item" (click)="onGETRecipes()">Fetch Recipes</a>
          </div>
        </li>
      </ng-template>
    </ul>
</nav>
