<label for="server-name"></label>
<!--<input type="text"-->
       <!--id="server-name"-->
       <!--class="form-control"-->
       <!--(input)="ouUpdateServerName($event)">-->

<input type="text"
       id="server-name"
       class="form-control"
       [(ngModel)]="serverName">

<!--<p>{{ serverName }}</p>-->
<!--property binding-->
<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>

<!--for the binding assignment-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<input type="text"-->
        <!--[(ngModel)]="username">-->
      <!--<button-->
        <!--class="btn btn-dark"-->
        <!--(click)="onCreateUsername()">Update Username</button>-->
    <!--</div>-->
    <!--<p>{{ username }}</p>-->
  <!--</div>-->
<!--</div>-->
